%h3
  モバイルバージョン
- if user_signed_in?
  = link_to 'ログアウト', sign_out_path, method: :delete
- else
  .container.text-center
    %h3
      n2jkAcademy
    = link_to fa_icon('github', text: 'GitHubアカウントでログイン'), sign_in_path, class: 'btn btn-success'
